Repository open-telemetry/semantic-conventions, pull requests merged in 2024-10, with the labels that each got.

#1445 Copy database semconv warning from spans/metrics to general README
  docs/database/README.md
Labels: Skip Changelog

#980 Introduce per-message structured GenAI events instead of prompt/completion span events
  .chloggen/980.yaml
  docs/attributes-registry/gen-ai.md
  docs/gen-ai/README.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  model/gen-ai/deprecated/registry-deprecated.yaml
  model/gen-ai/events.yaml
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
Labels: area:gen-ai

#1442 Mark *.size messaging attributes as opt-in
  .chloggen/size-attributes-opt-in.yaml
  docs/messaging/kafka.md
  docs/messaging/messaging-spans.md
  docs/messaging/rabbitmq.md
  docs/messaging/rocketmq.md
  model/messaging/spans.yaml
Labels: area:messaging

#1448 Add `db.operation.batch.size` to markdown
  docs/database/cassandra.md
  docs/database/cosmosdb.md
  docs/database/couchdb.md
  docs/database/database-spans.md
  docs/database/elasticsearch.md
  docs/database/hbase.md
  docs/database/mariadb.md
  docs/database/mongodb.md
  docs/database/mssql.md
  docs/database/mysql.md
  docs/database/postgresql.md
  docs/database/redis.md
  docs/database/sql.md
  model/database/spans.yaml
Labels: Skip Changelog

#1446 Recommend making create spans disableable
  .chloggen/1446.yaml
  docs/messaging/messaging-spans.md
  model/messaging/deprecated/registry-deprecated.yaml
  model/messaging/registry.yaml
  model/messaging/spans.yaml
Labels: area:messaging

#1444 Improve http request/response content length attribute deprecation note
  docs/attributes-registry/http.md
  model/http/deprecated/registry-deprecated.yaml
Labels: Skip Changelog

#1422 Change messaging.operation.type=publish to send
  .chloggen/publish_to_send.yaml
  docs/attributes-registry/messaging.md
  docs/messaging/azure-messaging.md
  docs/messaging/gcp-pubsub.md
  docs/messaging/kafka.md
  docs/messaging/messaging-metrics.md
  docs/messaging/messaging-spans.md
  docs/messaging/rabbitmq.md
  docs/messaging/rocketmq.md
  model/messaging/deprecated/metrics-deprecated.yaml
  model/messaging/metrics.yaml
  model/messaging/registry.yaml
  schema-next.yaml
Labels: area:messaging

#1457 Update hardware group name to match metric_name
  docs/hardware/common.md
  model/hardware/common-metrics.yaml
Labels: Skip Changelog

#1459 Fix failing resource back compat checks
  policies/compatibility.rego
Labels: tooling, Skip Changelog

#1463 Fix table-check (again) and regenerate tables
  Makefile
  docs/database/cassandra.md
  docs/database/cosmosdb.md
  docs/database/couchdb.md
  docs/database/database-spans.md
  docs/database/elasticsearch.md
  docs/database/hbase.md
  docs/database/mariadb.md
  docs/database/mongodb.md
  docs/database/mssql.md
  docs/database/mysql.md
  docs/database/postgresql.md
  docs/database/redis.md
  docs/database/sql.md
  docs/messaging/azure-messaging.md
  docs/messaging/gcp-pubsub.md
  docs/messaging/kafka.md
  docs/messaging/messaging-metrics.md
  docs/messaging/messaging-spans.md
  docs/messaging/rabbitmq.md
  docs/messaging/rocketmq.md
Labels: Skip Changelog

#1090 Database semconv stability migration guide
  docs/non-normative/db-migration.md
Labels: Skip Changelog, never stale

#1467 Fix typo in CloudFoundry conventions
  docs/attributes-registry/cloudfoundry.md
  model/cloudfoundry/registry.yaml
Labels: Skip Changelog

#1408 Add system.device attribute to system paging metrics
  .chloggen/add_paging_device_attr.yaml
  docs/system/system-metrics.md
  model/system/metrics.yaml
Labels: area:system

#1473 Adapt messaging examples/tables
  docs/messaging/gcp-pubsub.md
  docs/messaging/kafka.md
  docs/messaging/messaging-spans.md
Labels: Skip Changelog, area:messaging

#1479 Specify which span kind to use for messaging settle operations
  .chloggen/map-settle-span-kind.yaml
  docs/messaging/messaging-spans.md
Labels: area:messaging

#1464 Render events with bodies
  docs/azure/events.md
  docs/exceptions/exceptions-spans.md
  docs/feature-flags/feature-flags-logs.md
  docs/feature-flags/feature-flags-spans.md
  docs/mobile/events.md
  docs/rpc/rpc-spans.md
  model/azure/logs.yaml
  model/device/events.yaml
  model/event/common.yaml
  model/exceptions/events.yaml
  model/feature-flag/events.yaml
  model/feature-flag/logs.yaml
  model/feature-flag/registry.yaml
  model/rpc/spans.yaml
  policies/yaml_schema.rego
  policies/yaml_schema_test.rego
  templates/registry/markdown/attribute_macros.j2
  templates/registry/markdown/attribute_namespace.md.j2
  templates/registry/markdown/attribute_table.j2
  templates/registry/markdown/body_field_table.j2
  templates/registry/markdown/enum_macros.j2
  templates/registry/markdown/event_macros.j2
  templates/registry/markdown/examples_macros.j2
  templates/registry/markdown/snippet.md.j2
Labels: Skip Changelog

#1535 Make table generation and check targets strict and fix violations
  Makefile
  docs/attributes-registry/process.md
  model/process/deprecated/registry-deprecated.yaml
Labels: tooling, Skip Changelog

#1528 [chore] Add messaging stabilization notice to all pages
  docs/messaging/README.md
  docs/messaging/azure-messaging.md
  docs/messaging/gcp-pubsub.md
  docs/messaging/kafka.md
  docs/messaging/messaging-metrics.md
  docs/messaging/messaging-spans.md
  docs/messaging/rabbitmq.md
  docs/messaging/rocketmq.md
Labels: messaging-stability-blocker, area:messaging

#1492 Add network.interface.name attribute
  .chloggen/add_network_interface.yaml
  docs/attributes-registry/network.md
  docs/system/container-metrics.md
  docs/system/system-metrics.md
  model/container/metrics.yaml
  model/network/registry.yaml
  model/system/metrics.yaml
  schema-next.yaml
Labels: area:container, area:network, area:system

#1542 [chore] Fix HTTP client-server example
  docs/http/http-spans.md
Labels: area:http
