Repository open-telemetry/semantic-conventions, pull requests merged in 2024-06, with the labels that each got.

#1115 remove k8s.container.status.current_waiting_reason resource attribute
  .chloggen/k8s-waiting-status.yaml
  docs/attributes-registry/k8s.md
  docs/resource/k8s.md
  model/registry/k8s.yaml
  model/resource/k8s.yaml
Labels: Skip Changelog

#1154 [editorial] Fix link by dropping anchor to title
  docs/general/logs.md
Labels: Skip Changelog

#1059 Add additional LLM span attributes
  .chloggen/839.yaml
  docs/attributes-registry/gen-ai.md
  docs/gen-ai/gen-ai-spans.md
  model/registry/gen-ai.yaml
  model/trace/gen-ai.yaml
Labels: area:gen-ai

#1165 Clarify db.query.parameter is string representation
  .chloggen/1165.yaml
  docs/attributes-registry/db.md
  docs/database/cassandra.md
  docs/database/cosmosdb.md
  docs/database/database-spans.md
  docs/database/mssql.md
  docs/database/redis.md
  docs/database/sql.md
  model/registry/db.yaml
Labels: editorial, area:db

#1103 Add LLM model server metrics
  .chloggen/1102.yaml
  docs/attributes-registry/gen-ai.md
  docs/gen-ai/gen-ai-metrics.md
  docs/gen-ai/gen-ai-spans.md
  model/metrics/gen-ai.yaml
  model/registry/gen-ai.yaml
Labels: area:gen-ai

#1189 Remove unreleased section from the middle of the changelog
  CHANGELOG.md
Labels: Skip Changelog
