Repository open-telemetry/semantic-conventions, pull requests merged in 2025-09, with the labels that each got.

#2702 Add tool definition and other tool-related attributes in invoke-agent, inference, and execute-tool spans
  .chloggen/2702.yaml
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-spans.md
  docs/gen-ai/openai.md
  docs/registry/attributes/gen-ai.md
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
Labels: enhancement, area:gen-ai

#2618 Add guidance for CICD per pipeline run metrics
  .chloggen/1184-per-cicd-run-metrics.yaml
  docs/cicd/cicd-metrics.md
Labels: enhancement, area:cicd

#2648 Introduce metadata about SIGs and markdown generation
  .github/workflows/checks.yml
  .vscode/settings.json
  AREAS.md
  Makefile
  README.md
  areas.yaml
  internal/tools/scripts/update-areas-table.py
  sigs-schema.json
Labels: Skip Changelog

#2663 Document 'gcp.apphub_destination.*' attributes.
  .chloggen/gcp_apphub_destination.yaml
  docs/registry/attributes/gcp.md
  docs/resource/cloud-provider/gcp/apphub.md
  model/gcp/registry.yaml
Labels: enhancement, area:gcp

#2700 Fix deprecation of system.cpu.logical_number
  .chloggen/deprecation_fix.yaml
  docs/registry/attributes/system.md
  model/system/deprecated/registry-deprecated.yaml
Labels: area:system

#2428 [chore] Cleanup of docs #2426
  docs/README.md
  docs/app/README.md
  docs/app/app-events.md
  docs/azure/README.md
  docs/azure/azure-events.md
  docs/browser/README.md
  docs/browser/browser-events.md
  docs/cli/README.md
  docs/cli/cli-spans.md
  docs/code/README.md
  docs/dns/README.md
  docs/dns/dns-metrics.md
  docs/general/attributes.md
  docs/graphql/README.md
  docs/mobile/README.md
  docs/mobile/mobile-events.md
  docs/otel/README.md
  docs/url/README.md
  docs/url/url.md
Labels: editorial, docs

#2781 chore: make log/event terminology consistent
  docs/feature-flags/README.md
  docs/feature-flags/feature-flags-events.md
  docs/general/logs.md
Labels: Skip Changelog

#2787 Add session CODEOWNERS
  .github/CODEOWNERS
Labels: Skip Changelog

#2764 Document that *.system.name enums are not exhaustive and should not be added without conventions
  docs/how-to-write-conventions/README.md
Labels: Skip Changelog

#2803 editorial: add alias for feature flag logs-events rename
  docs/feature-flags/feature-flags-events.md
Labels: Skip Changelog

#2503 explicit json rpc span definitions #2228
  .chloggen/rpc-json_rpc_span_def.yaml
  docs/cloud-providers/aws-sdk.md
  docs/database/dynamodb.md
  docs/object-stores/s3.md
  docs/registry/attributes/rpc.md
  docs/rpc/json-rpc.md
  docs/rpc/rpc-metrics.md
  docs/rpc/rpc-spans.md
  model/rpc/common.yaml
  model/rpc/registry.yaml
  model/rpc/spans.yaml
Labels: enhancement, experts needed, area:rpc

#2736 Add attributes to each rpc metric via groups #2311
  .chloggen/explicit_attribute_association.yaml
  docs/registry/attributes/rpc.md
  docs/rpc/json-rpc.md
  docs/rpc/rpc-metrics.md
  docs/rpc/rpc-spans.md
  model/rpc/common.yaml
  model/rpc/metrics.yaml
  model/rpc/registry.yaml
Labels: enhancement, area:rpc, breaking

#2752 Add CICD conventions for logs
  .chloggen/1714-cicd-logs-guidance.yaml
  docs/cicd/README.md
  docs/cicd/cicd-logs.md
Labels: enhancement, area:cicd

#2823 [editorial] cpu-metrics-guidelines: make page title a H1
  docs/non-normative/groups/system/cpu-metrics-guidelines.md
Labels: Skip Changelog
