Repository open-telemetry/semantic-conventions, pull requests merged in 2025-10, with the labels that each got.

#2797 Add reasoning content message part
  .chloggen/add_reasoning_content.yaml
  docs/gen-ai/gen-ai-input-messages.json
  docs/gen-ai/gen-ai-output-messages.json
  docs/gen-ai/gen-ai-system-instructions.json
  docs/gen-ai/non-normative/examples-llm-calls.md
  docs/gen-ai/non-normative/models.ipynb
Labels: enhancement, area:gen-ai

#2845 Update broken link to Azure region locations API
  docs/database/cosmosdb.md
  docs/registry/attributes/azure.md
  model/azure/registry.yaml
Labels: Skip Changelog

#2849 Normalize github links
  docs/cicd/cicd-spans.md
  docs/database/cosmosdb.md
  docs/database/database-metrics.md
  docs/database/database-spans.md
  docs/dns/dns-metrics.md
  docs/dotnet/dotnet-aspnetcore-metrics.md
  docs/dotnet/dotnet-dns-metrics.md
  docs/dotnet/dotnet-http-metrics.md
  docs/dotnet/dotnet-kestrel-metrics.md
  docs/dotnet/dotnet-signalr-metrics.md
  docs/exceptions/exceptions-logs.md
  docs/faas/aws-lambda.md
  docs/faas/faas-metrics.md
  docs/feature-flags/feature-flags-events.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-metrics.md
  docs/gen-ai/gen-ai-spans.md
  docs/general/events.md
  docs/general/logs.md
  docs/general/metrics.md
  docs/general/recording-errors.md
  docs/general/semantic-convention-groups.md
  docs/general/trace.md
  docs/how-to-write-conventions/README.md
  docs/http/http-metrics.md
  docs/http/http-spans.md
  docs/messaging/messaging-metrics.md
  docs/messaging/messaging-spans.md
  docs/otel/sdk-metrics.md
  docs/resource/README.md
  docs/resource/cloudfoundry.md
  docs/rpc/grpc.md
  docs/runtime/cpython-metrics.md
  docs/runtime/jvm-metrics.md
  docs/runtime/nodejs-metrics.md
  docs/runtime/v8js-metrics.md
  model/cicd/spans.yaml
  model/gen-ai/spans.yaml
Labels: Skip Changelog

#2805 Update RPC stability warning
  .chloggen/2805.yaml
  docs/rpc/README.md
  docs/rpc/rpc-metrics.md
  docs/rpc/rpc-spans.md
Labels: enhancement, area:rpc

#2855 [process] Rename process.context_switch_type to process.context_switch.type
  .chloggen/rename_process_context_switch_type.yaml
  docs/registry/attributes/process.md
  docs/system/process-metrics.md
  model/process/deprecated/registry-deprecated.yaml
  model/process/metrics.yaml
  model/process/registry.yaml
Labels: area:process, breaking

#2850 Small CI improvement
  .github/workflows/build-system-check.yml
Labels: Skip Changelog
