Repository open-telemetry/semantic-conventions, pull requests merged in 2025-06, with the labels that each got.

#2180 [k8s] add k8s.hpa.scaletargetref resource attributes
  .chloggen/hpa-resource.yaml
  docs/registry/attributes/k8s.md
  docs/resource/k8s.md
  model/k8s/entities.yaml
  model/k8s/registry.yaml
Labels: enhancement, area:k8s

#2325 [chore] Remove usages of 'Publish' spans and adapt example tables
  docs/messaging/messaging-spans.md
Labels: area:messaging

#2323 Remove legacy weaver flag for attribute registry on snippet generation.
  Makefile
  templates/registry/markdown/snippet.md.j2
Labels: Skip Changelog

#2267 [k8s] Add k8s node allocatable metrics
  .chloggen/add-k8s-allocatable-metrics.yaml
  docs/non-normative/k8s-migration.md
  docs/system/k8s-metrics.md
  model/k8s/metrics.yaml
Labels: enhancement, area:k8s

#2354 Fix instrument type for .limit/.request container metrics
  .chloggen/fix_container_limits.yaml
  docs/non-normative/k8s-migration.md
  docs/system/k8s-metrics.md
  model/k8s/metrics.yaml
Labels: area:k8s, breaking

#2310 Detect yaml groups that are not used in md files, deprecate `otel.scope` entity
  .chloggen/2310.yaml
  .github/workflows/checks.yml
  Makefile
  docs/system/system-metrics.md
  internal/tools/scripts/find-dead-yaml.sh
  internal/tools/scripts/registry/signal-groups-weaver.yaml
  internal/tools/scripts/registry/signal-groups.j2
  model/otel/deprecated/entities-deprecated.yaml
Labels: Skip Changelog, area:otel

#1192 Add .NET network + HTTP connection spans
  .chloggen/1192.yaml
  .github/CODEOWNERS
  docs/dotnet/README.md
  docs/dotnet/dotnet-network-traces.md
  docs/registry/attributes/dns.md
  model/dns/registry.yaml
  model/dotnet/network-spans.yaml
Labels: enhancement, never stale, area:dotnet

#1698 Change `azure_` and `az.` to `azure.` across all conventions
  .chloggen/1698.yaml
  docs/azure/events.md
  docs/database/cosmosdb.md
  docs/faas/faas-spans.md
  docs/gen-ai/aws-bedrock.md
  docs/gen-ai/azure-ai-inference.md
  docs/gen-ai/gen-ai-agent-spans.md
  docs/gen-ai/gen-ai-events.md
  docs/gen-ai/gen-ai-metrics.md
  docs/gen-ai/gen-ai-spans.md
  docs/registry/attributes/azure.md
  docs/registry/attributes/cloud.md
  docs/registry/attributes/gen-ai.md
  docs/resource/cloud.md
  docs/resource/faas.md
  model/azure/deprecated/events-deprecated.yaml
  model/azure/deprecated/registry-deprecated.yaml
  model/azure/events.yaml
  model/azure/registry.yaml
  model/cloud/registry.yaml
  model/database/spans.yaml
  model/gen-ai/registry.yaml
  model/gen-ai/spans.yaml
  schema-next.yaml
Labels: area:azure, breaking

#2411 [chore] Update link title #2410
  docs/faas/aws-lambda.md
  docs/hardware/common.md
  docs/hardware/host.md
Labels: editorial

#2425 Rename system.network.connections to system.network.connection.count
  .chloggen/fix_connections_count.yaml
  docs/system/system-metrics.md
  model/system/deprecated/metrics-deprecated.yaml
  model/system/metrics.yaml
  schema-next.yaml
Labels: area:system, breaking

#2278 Create Entities Registry
  .chloggen/wip-entity-registry.yaml
  docs/cicd/cicd-metrics.md
  docs/registry/README.md
  docs/registry/entities/README.md
  docs/registry/entities/android.md
  docs/registry/entities/app.md
  docs/registry/entities/aws.md
  docs/registry/entities/browser.md
  docs/registry/entities/cicd.md
  docs/registry/entities/cloud.md
  docs/registry/entities/cloudfoundry.md
  docs/registry/entities/container.md
  docs/registry/entities/deployment.md
  docs/registry/entities/device.md
  docs/registry/entities/faas.md
  docs/registry/entities/gcp.md
  docs/registry/entities/heroku.md
  docs/registry/entities/host.md
  docs/registry/entities/k8s.md
  docs/registry/entities/os.md
  docs/registry/entities/otel.md
  docs/registry/entities/process.md
  docs/registry/entities/service.md
  docs/registry/entities/telemetry.md
  docs/registry/entities/vcs.md
  docs/registry/entities/webengine.md
  docs/registry/entities/zos.md
  docs/resource/process.md
  docs/system/k8s-metrics.md
  docs/system/process-metrics.md
  docs/system/system-metrics.md
  model/process/entities.yaml
  templates/registry/markdown/entity_macros.j2
  templates/registry/markdown/entity_namespace.md.j2
  templates/registry/markdown/entity_readme.md.j2
  templates/registry/markdown/metric_table.j2
  templates/registry/markdown/registry_readme.md.j2
  templates/registry/markdown/snippet.md.j2
  templates/registry/markdown/stability.j2
  templates/registry/markdown/weaver.yaml
Labels: enhancement, area:service
